@charset "UTF-8";
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  background-size: cover;
  background-image: url(../img/пирожулі.png);
}

.main_cake {
  background-size: contain;
  height: 56vw;
  width: 61%;
  margin: 0 auto;
}
.main_cake_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_cake_nav_right {
  height: 5vh;
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
}
.main_cake_nav_right_menu {
  display: inline-flex;
  list-style-type: none;
  padding-left: 0;
  flex: 1;
  justify-content: space-around;
}
.main_cake_nav_right_menu_li {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.8em;
  color: #ffffff;
  text-transform: uppercase;
}

.main_cake_nav_basket {
  margin-left: 3.8em;
}

.main_cake_nav_right_menu_link {
  display: inline-block;
}
.main_cake_nav_right_menu_link :hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
}

.index {
  font-weight: 500;
}

.main_cake_word {
  margin-top: 1.9em;
  flex-direction: column;
  display: flex;
  width: 61%;
}
.main_cake_word_big {
  color: #ffffff;
  font-weight: 800;
  font-size: 7.3em;
  line-height: 74px;
  text-transform: uppercase;
  color: #ffffff;
}
.main_cake_word_litlle {
  margin-top: -47px;
  font-size: 2.1em;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
}
.main_cake_word_link {
  margin-top: 4.4em;
  text-decoration: none;
}
.main_cake_word_link :hover {
  color: whitesmoke;
  border: 12px solid whitesmoke;
  transform: scale(1.2);
}
.main_cake_word_link_button {
  transition: 0.4s;
  display: block;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 22px;
  text-transform: capitalize;
  padding: 30px;
  color: #151616;
  background: #c98d5a;
  box-shadow: 5px 5px 10px #1a0600;
  border-radius: 56px;
}

.bacground_why {
  background-color: rgb(235, 235, 235);
}

.main_why {
  width: 61%;
  margin: 0 auto;
  padding: 60px 0 84px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_why_why {
  font-weight: 800;
  font-size: 6em;
  line-height: 74px;
  text-transform: uppercase;
  color: #151616;
}
.main_why_line {
  width: 100%;
  padding: 4.5em 0 5.2em;
}
.main_why_rules {
  display: flex;
}
.main_why_rules1 {
  margin-right: 5em;
  text-align: center;
}
.main_why_rules1_line {
  background-color: #767676;
  margin-top: 2em;
  width: 100%;
  border: 2px solid rgb(118, 118, 118);
}

.arrow_img {
  width: 100%;
}

.main_why_rules1_text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #151616;
}

.columbo {
  margin-right: 0;
}

.background_product {
  background-size: cover;
  background-image: url("../img/fresh-brown-bread-on-the-table 1.png");
}

.main_product {
  margin: 0 auto;
  width: 100%;
  padding: 53px 0 141px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_product_catalog {
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  text-transform: uppercase;
  color: #ffffff;
}
.main_product_menu {
  margin: 57px 0 73px 0;
  display: inline-flex;
  width: 61%;
}
.main_product_menu_li {
  text-decoration: none;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  text-transform: capitalize;
  border-radius: 34px;
  color: #c4c4c4;
  padding: 15px 45px;
  border: 1px solid rgba(253, 251, 251, 0.5);
  background-color: rgba(253, 251, 251, 0);
}

.linki {
  margin-left: 0;
}

.main_product_menu_link {
  margin-left: 15px;
  list-style-type: none;
}
.main_product_menu_link :hover {
  border: 0;
  background: #c98d5a;
  color: black;
}

.main_product_bred {
  width: 49%;
  display: flex;
}

.bred_first {
  margin-left: 5.4em;
  margin-right: 5.4em;
}

.main_product_bred_1 {
  padding: 2.6em 4.5em 1.7em 4.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.main_product_bred_1_1 {
  font-weight: 700;
  font-size: 2.4em;
  line-height: 29px;
  text-transform: capitalize;
  color: #c4c4c4;
}
.main_product_bred_1_text {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 18px;
  text-transform: capitalize;
  margin-bottom: 1.3em;
  color: #c4c4c4;
}
.main_product_bred_1_arrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.main_product_bred_1_arrow_main {
  margin-left: 3.3em;
}

.main_product_bred_1_arrow_arr1 {
  bottom: -6px;
  left: -23px;
  position: relative;
  width: 33px;
  border: 1px solid #c4c4c4;
}

.main_product_bred_1_arrow_arr {
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  border-top: 2px solid #c4c4c4;
  border-right: 2px solid #c4c4c4;
}

.main_product_bred_1_arrow_link_but {
  padding: 9px 5px;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #1f1f1f;
  background: #f59b4d;
  border: 0;
}

.background_our {
  background-position: 281px 256px;
  background-image: url(../img/background1.png);
}

.about_main {
  width: 61%;
  margin: 0 auto;
  padding: 34px 0 78px 0;
}
.about_main_our {
  font-weight: 800;
  font-size: 6em;
  line-height: 74px;
  text-align: center;
  text-transform: uppercase;
  color: #151616;
}
.about_main_img {
  width: 100%;
  text-align: center;
  margin: 43px 0;
}
.about_main_text {
  font-size: 2em;
  line-height: 24px;
  font-variant: small-caps;
  margin-left: 79px;
  color: #000000;
}
.about_main_end {
  margin-top: 25px;
  width: 93%;
  display: inline-flex;
  justify-content: flex-end;
  font-style: italic;
  font-weight: 400;
  font-size: 2em;
  line-height: 24px;
  font-variant: small-caps;
  color: #000000;
}

.main_block {
  padding: 70px 0;
  background-size: cover;
  background-image: url("../img/fresh-brown-bread-on-the-table 1.png");
}
.main_block_text {
  ont-weight: 800;
  font-size: 60px;
  line-height: 74px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.main_block_many {
  display: flex;
  justify-content: space-evenly;
  width: 53%;
  margin: 0 auto;
}
.main_block_many_foot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  transition: 0.5s;
  border: 1px solid green;
}
.green_img {
  transition: 0.5s;
}
.green :hover {
  transform: scale(1.2);
  border: 1px solid red;
}

footer {
  background-color: rgb(18, 20, 19);
}

.footer_wrapper {
  align-items: center;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.footer_wrapper .text_foo {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.footer_wrapper .tel_foo {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
}

span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.tel {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .main_product {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */